<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Your Daily Doge!</title>
    <link href="public/favicon.ico" rel="shortcut icon" type="image/x-icon"/>

    <!--stylesheets-->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="/styles/style.css" media="screen" title="no title" charset="utf-8">

    <!--scripts-->
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"   integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="   crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.5/handlebars.min.js"></script>

    <!-- local script -->
    <script type="text/javascript" src="/scripts/app.js"></script>

  </head>
  <body>
    <div class="jumbotron">
      <div class="container">
        <h1>Your Daily Doge!</h1>
      </div>
    </div>
    <div class="container contain-body">
      <div class="panel panel-default">
        <div class="row" id="dogefact-parent">
          <div class="col-md-10" id="dogefact">
            <script id="dogefact-template" type="text/x-handlebars-template">
              <div class="col-md-4" id="fact-text">
                <h2>Doge Fact #{{factIndex}}</h2>
                <p>{{text}}</p>
              </div>
              <div class="col-md-4" id="fact-image">
                <img src={{image}}>
              </div>
            </script>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-2 center-block">
          <button type="button" name="button" id="new-fact">
            Show a new fact!
          </button>
        </div>
      </div>
    </div>
  </body>
</html>
